.histogram-item{
    display: flex;
    gap:6px;
    align-items: center;
    font-size: 20px;
}
.item-title{
    font-size: 10px;
    font-weight: 600;
    transform: rotateZ(-60deg);
}
.histogram-item-bar{
    width:20px;
    background-color:rgba(0, 0, 0, 0.916);
    border-radius:2px 2px 0 0;
    animation-name: fill-bar;
    animation-duration: 1s;
    border:  3px solid rgb(255, 255, 255);
    border-bottom: 0;
    cursor: pointer;
}
.histogram-item-bar:hover{
    background-color:rgb(0, 0, 0);    
    border: 3px solid rgba(161, 161, 161, 0.797);
    border-bottom: 0;
}


table tr {
	display: table-cell;
}
table tr td {
	display: block;
}

@keyframes fill-bar {
    0%   {background-color:rgba(0, 0, 0, 0.053);}
    50%  {background-color: rgba(0, 0, 0, 0.392);}
    100% {background-color: rgb(0, 0, 0);}
  }

