.detail-movie-box{
    box-shadow: 0 0 10px 0px rgba(156, 154, 154, 0.46);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.detail-movie{
    display: flex;
    justify-content: space-between;    
    height: auto;
    padding:20px 40px;
    gap:20px;
}

.detail-movie-left{
    border-radius: 2px;
    width:calc(100% - 350px);
    padding:10px;
    background-color: white;
    display: flex;
    align-items: center;
}
.detail-movie-left-first{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.detail-movie-img{
    width:240px;
    height:240px;
}

.detail-movie-details{
    width:calc(100% - 300px);
    height:auto;
    padding:10px;
}

.detail-movie-details-title{
    font-size: 28px;
    font-weight: 500;    
    margin-top: 10px;
    font-family: sans-serif;
}

.detail-movie-details-tagline{
    font-size: 16px;
    font-weight: 600;    
    margin-top: 10px;
}

.detail-movie-details-overview{
    font-size: 14px;
    font-weight: 400;    
    margin-top: 10px;
    color:rgba(0, 0, 0, 0.796);
    display: -webkit-box;
    max-height: 200px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.detail-movie-details-runtime{
    font-size: 20px;
    font-weight: 600;    
    margin-top: 10px;
}

.detail-movie-details-revenue{
    font-size: 20px;
    font-weight: 600;    
    margin-top: 10px;
}

.detail-movie-details-genres{
    display: flex;
    gap:10px;
    margin-top: 10px;
}
.detail-movie-details-genres >*{
    color:rgb(62, 62, 62);
    /* border: 2px solid rgb(86, 85, 85); */
    padding:4px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}




.detail-movie-right{
    width:350px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap:16px;
    justify-content:flex-start;
    padding:40px 30px;
    background-color: white;
}

.detail-movie-right::-webkit-scrollbar {
    display: none;
  }

.detail-movie-right-production-companies{
    color:rgba(0, 0, 0, 0.696);
    font-size: 16px;
    font-weight:400;
    display: flex;
    flex-wrap: wrap;
}  

.detail-movie-right-production-companies-title{
    font-size: 22px;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 2px;
}

  .detail-movie-second{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    max-height: 0;
    justify-content:center;
    overflow: hidden;
    margin:0px 20px;
    transition:max-height 0.3s ease;
}


.detail-movie-second-see-more{
    width:auto;
    padding:6px 20px;
    margin:10px 0;
    background-color: white;
    border:2px solid rgba(0, 0, 0, 0.377);
    color:rgba(0, 0, 0, 0.729);
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;

}

