.tpfy-card{
    width:180px;
    height:270px;
    border-radius: 4px;
    color:black;
    transition: background-color 0.8s;
    margin:4px 0;
    position: relative;
}
/* .tpfy-card:hover{
    background-color:rgb(249, 202, 130)

} */
.tpfy-card-details{
    position: absolute;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.352),rgba(0, 0, 0, 0.949));
    color:white;
    opacity: 0;
    transition: opacity 0.3s;
}
.tpfy-card-details:hover{
    opacity: 1;
}
.tpfy-card-img{
    width:100%;
    height:100%;
}

.tpfy-card-title{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin:10px 20px;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color:aliceblue
}
.tpfy-card-release-year{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color:aliceblue
}