.search-box-div{
    padding:0px 40px;
}
.search-box{
    width:100%;
    padding:10px 0;
    margin:10px 0;
}

.search-list{
    width:94%;
    margin-left:3%;
    height: auto;
    background-color: white;
    position: absolute;
}
.search-list-item{
    padding: 4px 0;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.1 );
    cursor:pointer
}

.search-list-item:hover{
    background-color: rgba(0,0,0,0.1 );
}