.search-box-div{
    padding:0px 60px;
    box-shadow: 0 0 10px 1px rgb(180, 178, 178);
    background-color: rgb(0, 0, 0);
    margin-bottom:2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
}

.nav-logo{
    font-size:22px;
    font-weight: 400;
    cursor:pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}

.nav-menu{
    display: flex;
    gap:30px;
    color:rgba(255, 255, 255, 0.871);
    align-items: center;
}
.nav-menu >*{
    cursor: pointer;
    font-weight: 400;
    transition: color 0.2s;
}
.nav-menu  >*:hover{
    color:white;
}

.search-box{
    min-width:800px;
    padding:10px;
    margin:14px 0;
    border-radius: 4px;
    outline:none;
    border:0px solid black;
}

.search-list{
    width:94%;
    margin-left:3%;
    height: auto;
    background-color: white;
    position: absolute;
    z-index:2
}
.search-list-item{
    padding: 4px 0;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.1 );
    cursor:pointer
}

.search-list-item:hover{
    background-color: rgba(0,0,0,0.1 );
}