
.tpfy-card-loader{
    width:180px;
    height:270px;
    border-radius: 4px;
    color:black;
    margin:4px 0;
    animation-name: animate-img;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes animate-img {
    0%   {background-color:rgba(246, 244, 242, 0.666);}
    50% {background-color: rgba(183, 183, 183, 0.538);}
    100%   {background-color:rgba(246, 244, 242, 0.666);}
}
