.post-container{
    padding:40px;

    /* background-color: yellow; */
}
 .post-card-container{
    width:100%;
    height:416px;
    display: flex;
    gap:10px;
    overflow: scroll;
    justify-content:baseline;
    align-items:flex-end;
}
 .post-card-container::-webkit-scrollbar {
    display: none;
  }
